.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #f4f6f8;
    border-radius: 8px;
}

.card .top{
    border-bottom: 4px solid #f4f6f8;
    padding: 14px 30px;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    font-size: 20px;
}

.subheader{
    font-size: 14px;
    color: gray;
}

.card .content{
    padding: 10px 20px;
    margin: 20px 10px;
}