.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background-color: #f4f6f8;
}

.nav-header-text{
    font-weight: 800;
    font-size: 2rem;
    color: #101010;
    font-family: Trebuchet MS !important;
}

.nav-link{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    color: #101010;
    font-weight: 700;
}

.nav-link:hover{
    opacity: 0.5;
}