.top-section{
    display: flex;
    height: 400px;
    width: 100%;
    margin: 20px;
}

.left-column-top{
    width: 40%;
    object-fit: cover;
}

.coding-topleft-icon{
    width: 100%;
    height: 100%;
}

.right-column-top{
    width: 60%;
}